/**************************
Nav Bar
**************************/

.navbar-inverse {
  background-color: #6495ED;
  border-width: 2px;
}

.navbar-nav li a {
  color: #fff;
}

/**************************
 Main Heading
**************************/

#landing-header h1 {
  text-align: right;
  margin-right: 2em;
}


/***************************
Page Sytling
****************************/

body {
  background: linear-gradient(to right, #7171C6, #BBFFFF);
}

.main-window {
}

/*************************
Thumbnail list
**************************/

.sidebar h2 {
  padding-left: 1em;
}

.thumbnail-list {
  list-style-type: none;
  margin-right: 0.5em;
}

.thumbnail {
  border-style: solid;
  border-width: medium;
  border-radius: 2%;
  border-color: black;
}
