/**************************
Nav Bar
**************************/

.navbar-inverse {
  background-color: #6495ED;
  border-width: 2px;
}

.navbar-nav li a {
  color: #fff;
}

a.navbar-brand {
  font-family: 'Indie Flower', cursive;
  color: white !important;
}

/**************************
 Main Heading
**************************/

#landing-header h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 3em;
  text-align: right;
  margin-right: 2em;
}


/***************************
Page Sytling
****************************/

body {
  background: linear-gradient(to right, #7171C6, #BBFFFF);
  font-family: 'Montserrat', sans-serif;
}

/*************************
Thumbnail list
**************************/

.sidebar {
  text-align: center;
  color: white;
}

#sidebar-title {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  padding: .3em;
  margin-left: 1em;
  text-align: center;
}

.thumbnail-list {
  list-style-type: none;
  margin-right: 0.5em;
}

.thumbnail {
  border-style: solid;
  border-width: medium;
  border-radius: 2%;
  border-color: black;
}


/***********************
Main Window
************************/

.main-window {
  margin-top: 2em;
}

.carousel-area {
  background-color: grey
  border: 2px, black, solid;
  margin-left: 1em;
  margin-right: 1em;
}

#about-me {
  margin-left: 1em;
  margin-right: 1em;
}

#about-me-title {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  background-color: #6495ED;
  padding: .3em;
  border: 2px black solid;
}

.about-box {
  background-color: white;
  border: 1px #ddcef2 solid;
  height: 50em;
}

.about-me-tabs {
  margin-left: 2em;
}

.about-me-lists li {
  line-height: 2em;
}

.bio-pic {
  width: 15em;
  height: 15em;
  border: 4px black solid;
  border-radius: 2%;
  margin: 0 0.5em 0 0.5em;
}

.bio p {
  line-height: 2em;
}

#interests-text {
  text-align: center;
  line-height: 2em;
}
